* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  transition: 0.3s;
  display: inline-block;
}

button:hover {
  background-color: #234bfc;
  color: #fff;
  cursor: pointer;
}

p {
  margin-right: 8px;
}

.title {
  padding: 12px;
  margin-bottom: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.flex-box {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
